@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

@layer utilities {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .slider {
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .slider .slide-track {
    animation: scroll-slider 80s linear infinite;
    display: flex;
    width: calc(200px * 44);
  }
  .slider .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 20px;
  }
  @keyframes scroll-slider {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-200px * 22));
    }
  }
  @media only screen and (max-width: 640px) {
    .slider .slide {
      padding: 10px 40px;
    }
  }

}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 12px;

  @screen md {
    font-size: 14px;
  }

  @screen lg {
    font-size: 16px;
  }
}